# Intellij
.idea/
*.iml
*.iws
out/

# Mac
.DS_Store

# Maven
log/
target/

# Lucene indices
backend-solr/server/solr/ORFDocs/data/
backend-solr/server/solr/pathwayRuns/data/

#Solr libs
backend-solr/server/solr-webapp/
backend-solr/server/lib/

#Solr logs
backend-solr/server/logs/




