/*header and search bar*/
body{
    background-color: #f8fcf1;
}
.nav-bar{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 150px;
    background-color: #2e6da4;
}

.search{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 25px;
    padding-right: 150px;
}

#searchBox{
    top: 50px;
    width: 500px;
    font-size: 15px;
}

#settings-toggle{
    position: relative;
    top: 4px;
    font-size: 85%;
    color: #5bc0de;
    cursor: pointer;
}

.settings{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 700px;
}

.settings div{
    color: white;
    padding-left: 15px;
    padding-right: 10px;
}

#sizing-addon3{
    height: 10px;
    padding: 0 0;
    color: black;
}
.radio-inline{

}

.filterGuide a{
    display: inline;
}
.filterGuide p{
    display: inline;
}

/*sidebar left hand side*/
.main-container{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.side-bar{
    margin-right: 12px;
    width: 23%;
    height: 1000px;
    position: relative;
    top: -41px;
}

.nav-tabs>li>a {
    background-color: white;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #66afe9;
}

.tab-content{
    height: 800px;
}

.facetList{
    display: inline;
}

.facetList a{
    cursor: pointer;
}

.facet-size-1{
    font-size: 85%;
}

.facet-size-2{
    font-size: 95%;
}

.facet-size-3{
    font-size: 105%;
}

.facet-size-4{
    font-size: 120%;
    padding: 2px;
}

.facet-size-5{
    font-size: 135%;
    padding: 4px;
}

.facet-size-6{
    font-size: 145%;
    padding: 5px;
}

/*results right hand side*/

.results{
    position: relative;
    margin: 7px 20px 20px 20px;
    width: 77%;

}
.resultsInfo{
    margin-left: 50px;
    margin-top: 5px;
}

.filterGuide{
    margin-left: 50px;
}
.documents ul{
    margin: 5px;
    padding: 0;
}

.documents{
    padding-left: 5px;
}
.documents ul li {
    margin-left: 5px;
    margin-right: 4px;
    display: inline;
}

.hit{
    border-left: 1px dotted #a0a0a0;
    margin-left: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.rank{
    position: absolute;
    left: 2px;
    width: 1.8em;
    font-weight: bold;
    color: #a0a0a0;
    text-align: right;
}

/*footer and misc*/

.loading-gif{
    padding: 30px;
}

.well{
    padding: 10px;
}