/*header and search bar*/
body{
    background-color: #f8fcf1;
}
.nav-bar{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 220px;
    min-width: 1600px;
    background-color: #2e6da4;
}

.home-link{
    font-family: "Liberation Sans";
    position: absolute;
    left: 40px;
}
.home-link h2{
    margin-right: 30px;
    display: inline;
}
.home-link h2 a{
    color: white;
}
.home-link h2 a:hover{
    text-decoration: none;
}
.home-link h3{
    margin-left: 60px;
    font-weight: bold;
    color: white;
    display: inline;
}


.search{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 25px;
    padding-right: 150px;
}

#searchBox{
    width: 500px;
    font-size: 15px;
}

#settings-toggle{
    position: relative;
    top: 4px;
    font-size: 85%;
    color: #5bc0de;
    cursor: pointer;
}

.settings{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 700px;
}

.settings div{
    color: white;
    padding-left: 15px;
    padding-right: 10px;
}
input#rpkm{
    color: black;
}

#sizing-addon3{
    height: 10px;
    padding: 0 0;
    color: black;
}
.radio-inline{

}

.filterGuide a{
    display: inline;
}
.filterGuide p{
    display: inline;
}

/*sidebar left hand side*/
.main-container{
    width: 100%;
    min-width: 1600px;
}

.side-bar{
    float: left;
    /*23 for small*/
    width: 41%;
    min-width: 300px;
    margin-right: 12px;
    height: 1000px;
    position: relative;
    top: -41px;
}

.nav-tabs>li>a {
    background-color: white;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #66afe9;
}

.tab-content{
    height: 1500px;
}

.taxonomyTree{
    overflow: scroll;
}

.facetList{
    display: inline;
}

.facetList a{
    text-decoration: none;
    cursor: pointer;
}

.facet-selected a{
    color: white;
    border-radius: 25px;
    background-color: #1b6d85;
}

.facet-size-1{
    font-size: 85%;
    padding: 2px;
}

.facet-size-2{
    font-size: 95%;
    padding: 2px;
}

.facet-size-3{
    font-size: 105%;
    padding: 2px;
}

.facet-size-4{
    font-size: 120%;
    padding: 2px;
}

.facet-size-5{
    font-size: 135%;
    padding: 4px;
}

.facet-size-6{
    font-size: 145%;
    padding: 5px;
}

/* clusters*/
.cluster-text {
    font-size: 110%;
}
.cluster-link {
    stroke: #50c1cc;
    stroke-width: 0.3px;
}
.cluster-nucleus{
    cursor: move;
    fill: #50c1cc;
    stroke: #5375cc;
    stroke-width: 3px;
}
.cluster-node{
    cursor: move;
    /*stroke: #252fcc;*/
    /*stroke-width: 1px;*/
    fill: #50c1cc;
}
.tombstone{
    display: none;
}

/*Taxonomy*/
.taxonomy-node circle {
    fill: #3a9953;
}

.taxonomy-node text {
    font: 12px sans-serif;
}

.taxonomy-node-internal circle {
    fill: #3a9953;
}

.taxonomy-node-internal text {
    text-shadow: 0 1px 0 #fff,
    0 -1px 0 #fff,
    1px 0 0 #fff,
    -1px 0 0 #fff;
}

.taxonomy-link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}
/*results right hand side*/

.results{
    float: left;
    /* big is 74*/
    width: 58%;
    min-width: 300px;
    min-height: 900px;
    position: relative;
    margin: 7px 2px 15px 2px;


}
.resultsInfo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 5px;
}

.export{
    display: inline-block;
}

.filterGuide{
    margin-left: 50px;
}
.documents{
    padding-left: 5px;
}
.documents ul{
    margin: 5px;
    padding: 0;
}
.documents ul li {
    margin-left: 17px;
    margin-right: 4px;
    display: inline;
}

.hit{
    border-left: 1px dotted #a0a0a0;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-left: 5px;
}

.rank{
    position: absolute;
    left: 2px;
    width: 1.2em;
    /*font-weight: bold;*/
    color: #a0a0a0;
    text-align: right;
}

.hit-title{
    display: inline;
    font-size: 21px;

}

.hit-data{
    display: inline;
}

.COGID{
    color: #428bca;
    text-decoration: none;
}

.COGID:hover{
    cursor: pointer;
    text-decoration: underline;
}

.KEGGID{
    color: #428bca;
    text-decoration: none;
}

.KEGGID:hover{
    cursor: pointer;
    text-decoration: underline;
}

.sampleRun{
    display: inline;
    font-weight: bold;
}

.noResultsFound{
    margin: 30px;
}

.glyphicon-new-window{
    color: black;
}

/*footer and misc*/

.btn-info{
    margin-left: 10px
}

.glyphicon-info-sign{
    cursor: help;
}

.loading-gif{
    padding: 30px;
}

.well{
    padding: 10px;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px;
}